table.align input {
	margin-right:0;
}
* {
	padding:0;         
	margin:0;     
}     
fieldset { 
	border:none;
}     
select option{ 
	padding:0 5px; 
}     
a img { 
	border:none; 
}
a,a:link,a:visited {
	text-decoration:none;
	color:#00BDF3;
}
.clear { 
	clear:both; 
	height:0px; 
	font-size:0px; 
	line-height:0px; 
}     
ul {
	list-style-type:none;
}

/* end reset*/

body {
	font:12px/16px Arial, Helvetica, sans-serif;
	background:#FFFFFF url(../images/bg.gif) repeat-x;
}

div#wrapper {
	width:858px;
	margin:0 auto;
	position:relative;
}
div#pagination {
	width:520px;
	margin:10px auto 30px;
	font-size:11px;
	color:#4b1b1b;
	text-align:center;
	font-weight:bold;
	overflow:hidden;
}
div#pagination span {
	float:left;
}
div#progres-bar {
	width:440px;
	margin:5px 0 0 5px;
	border:1px solid #2b2f2b;
	float:left;
}
div#progress {
	height:2px;
	overflow:hidden;
	float:left;
	background-color:red;
}
div#description {
	padding:15px 20px;
	margin-bottom:15px;
	border:1px solid #cbe0ec;
	border-top:none;
	overflow:hidden;
	background-color:#fff;
}
div#description img {
	float:right;
	max-width:600px;
}
h1 {
	font-size:25px;
	line-height:25px;
	font-weight:normal;
	color:#093603;
}
h2 {
	padding:15px 0 0 5px;
	font-size:12px;
	font-weight:normal;
}
div#container {
	padding-top:27px;
	background:url(../images/bg-description.gif) no-repeat;
}
div#report {
	padding:5px;
	text-align:center;
}
div#report a {
	position:relative;
	cursor:pointer;
	display:inline-block;
	color:#999;
}
div#report a span {
	float:left;
	font-size:11px;
}
div#report a span.left, div#report a span.right {
	width:6px;
	height:18px;
	display:block;
}
div#report a span.left {
	background:url(../images/btn-left-report_abuse.png) no-repeat;
}
div#report a span.right {
	background:url(../images/btn-right-report_abuse.png) no-repeat;
}
div#report a span.content {
	padding:1px 0 2px;
	background:url(../images/btn-content-report_abuse.png) repeat-x;
}
ul#forms {
	width:858px;
	padding-top:27px;
	background:url(../images/bg-description.gif) no-repeat;
}
ul#forms li {
	padding:0 30px 20px;
	border-left:1px solid #cbe0ec;
	border-right:1px solid #cbe0ec;
	font-size:14px;
	background-color:#fff;
}
div.question {
	overflow:hidden;
}
div.question div {
	width:580px;
	float:left;
	padding:0 0px 30px 0;
}
div.answer table p {
	padding:10px 0;	
}
div.answer.small table .text {
	width:150px;
	border:1px solid #c3cdd3;	
}
div.question span.number {
	width:40px;
	float:left;
	display:block;
	font-size:19px;
	color:#7a848b;
}
div.answer {
	padding-left:40px;	
}
input {
	margin-right:10px;	
}
.text {
	width:300px;
	padding:2px;
	margin:2px 0 2px 10px;
	border:1px solid #708048;
}	
div#wrapper input.btn {
	width:122px;
	padding:5px;
	float:right;
	margin-right:5px;
	text-align:center;
	display:block;
	color:#252626;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:1px solid #cbe0ec;
	background-color:#FFF;
	cursor:pointer;
}
div#wrapper input.btn:hover {
	border:1px solid #fff;
	background-color:#cbe0ec;
}
div#action {
	padding:20px 25px 25px 0;
	overflow:hidden;
	background-color:#fff;
	border:1px solid #cbe0ec;
	border-top:none;
}
div#content {
	margin-bottom:20px;
}
div#footer {
	padding-bottom:10px;
	text-align:center;
}
div#footer div {
	display:inline-block;
}
div#footer a {
	margin-right:10px;
	text-transform:capitalize;
	font-size:14px;
	color:#5a6d78;
}
div#footer a.last {
	margin-right:0;
}
div#footer a:hover {
	text-decoration:underline;
}

.field_with_errors {
       background-color: #f0a8a8;
       border: 1px solid #aaaaaa;
       margin: 0 0 20px 0;
       padding: 10px
}
